[Unit]
Description=Reading BME 688 sensors
After=network.target
StartLimitIntervalSec=0

[Service]
WorkingDirectory=/home/pi
Restart=always
RestartSec=1
User=pi
ExecStart=/usr/bin/python3 /home/pi/homelab/smarthome/bme688/src/bme688.py

[Install]
WantedBy=multi-user.target

